body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #efefef;
}
header{
    background: linear-gradient(var(--main-color), rgb(0, 198, 198), var(--main-color));
    color: white;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 25px #1d1d1d;
    position: sticky;
    top: 0;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}

header h2{
    padding-left: 30px;
    text-shadow: 1px 1px 25px #1d1d1d;
}
.container{
    width: 90%;
    max-width: 1400px;
    margin: 20px auto;
}
.flex{
    display: flex;
}
.aic{
    align-items: center;
}
.jcc{
    justify-content: center;
}
a{
    color: inherit;
    text-decoration: none;
}

.table 
{
    border-spacing: 0;
}

th
{
    background-color: #808080;
}

.button {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
  
  @media (min-width: 768px) {
    .button {
      padding: 0.25em 0.75em;
    }
  }

.tabledit {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.tabledit th,
.tabledit td {
    padding: 12px; 
    text-align: left;
    text-indent: 10%;
}

.tabledit th {
    background-color: #6e6e6e;
    color: #fff;
    text-align: center;
}

