{% extends 'base.html.twig' %}

{% block title %}New Chanson{% endblock %}

{% block body %}
    <h1>Create new Chanson</h1>

    {{ include('chanson/_form.html.twig') }}

    <button class="button" role="button"><a href="{{ path('app_discotheque') }}">back to list</a></button>
{% endblock %}
